menuconfig RKWIFI
	bool "RK901/RK903/BCM4330/AP6XXX wireless cards support"
	depends on MMC && WLAN_80211
	select WIRELESS_EXT
	select WEXT_PRIV

config RK_CFG80211
	bool "Enable NL80211 support"
	default y
	depends on RKWIFI
	select CFG80211
	select MAC80211
	help
	  Enables CFG80211 support

config RKWIFI_BLD
	tristate "Build RK901/RK903/BCM4330/AP6XXX wireless cards"
	depends on RKWIFI
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4329/30 chipset.
	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.


choice	
	depends on RKWIFI_BLD && WLAN_80211
	prompt "Select the wifi module"
	default RK903
	
	config BCM4330 
	    bool "BCM4330"
	    depends on RKWIFI_BLD && WLAN_80211

	config RK903
	    bool "RK903"
	    depends on RKWIFI_BLD && WLAN_80211

	config RK901
	    bool "RK901"
	    depends on RKWIFI_BLD && WLAN_80211
	
	config AP6181
	    bool "AP6181"
	    depends on RKWIFI_BLD && WLAN_80211

	config AP6210
	    bool "AP6210"
	    depends on RKWIFI_BLD && WLAN_80211

	config AP6234
		bool "AP6234"
		depends on RKWIFI_BLD

	config AP6330
		bool "AP6330"
		depends on RKWIFI_BLD && WLAN_80211

	config AP6335
		bool "AP6335"
		depends on RKWIFI_BLD

	config AP6441
		bool "AP6441"
		depends on RKWIFI_BLD

	config AP6476
		bool "AP6476"
		depends on RKWIFI_BLD && WLAN_80211

	config AP6493
		bool "AP6493"
		depends on RKWIFI_BLD && WLAN_80211

	config GB86302I
		bool "GB86302I"
		depends on RKWIFI_BLD && WLAN_80211

endchoice

choice
	depends on RKWIFI_BLD && WLAN_80211
	prompt "Select the wifi module crystal freq"
	default RKWIFI_26M

	config RKWIFI_37_4M
    	bool "37_4M"
	    depends on RKWIFI_BLD && WLAN_80211

	config RKWIFI_26M
    	bool "26M"
	    depends on RKWIFI_BLD && WLAN_80211

	config RKWIFI_24M
    	bool "24M"
	    depends on RKWIFI_BLD && WLAN_80211

endchoice

menuconfig RKWIFI_FW_SET_PATH
	bool "Set path to WiFi firmwares"
	default n
	depends on RKWIFI_BLD

config RKWIFI_FW_PATH
	string ""
	default "/lib/firmware"
	depends on RKWIFI_FW_SET_PATH
	help
	  Linux path to firmwares


