--- arch/x86/Kconfig
+++ arch/x86/Kconfig
@@ -31,6 +31,7 @@ config X86
    select ARCH_WANT_OPTIONAL_GPIOLIB
    select ARCH_WANT_FRAME_POINTERS
    select HAVE_DMA_ATTRS
+	select HAVE_DMA_CONTIGUOUS if !SWIOTLB
    select HAVE_KRETPROBES
    select HAVE_OPTPROBES
    select HAVE_FTRACE_MCOUNT_RECORD
